@import url(./font.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}